/* NotFound.css */
.not_found_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
}

.not_found_content {
  text-align: center;
}

.not_found_title {
  font-size: 6rem;
  color: #ff5733; /* Set your desired title color */
}

.not_found_message {
  font-size: 2rem;
  color: #333; /* Set your desired message color */
  margin-top: -20px; /* Adjust as needed to align with the title */
}
